body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  color: #333;
}

h1 {
  color: #007acc;
}

a {
  color: #007acc;
  text-decoration: none;
}

input, button {
  padding: 8px;
  margin: 5px;
  font-size: 14px;
}
